# Internal certificate store/database
#  system.store     /var/lib/acne
#
# What user to run as.
#  system.user      acne
#
# Contact details, primarily for account recovery
#  account.email you@example.com
#  account.tel   +00555123
#
# Default settings used for new certificates
#  defaults.ca         letsencrypt
#  defaults.renew-left 30
#  defaults.roll-key   yes
#  defaults.key        rsa:3072
#  defaults.run        nginx
#
# Where on your file system web server or proxy points
# /.well-known/acme-challenge/ at
#  challenge.http01fs.acmeroot /var/lib/acne/httpchallenge
#
# Define custom CA "exampleca". Usable from defaults.ca and --ca
#  ca.exampleca.acme-server acme-v1.api.example.com
