Source: acne
Section: utils
Priority: optional
Maintainer: Andre Tomt <andre@tomt.net>
Build-Depends: debhelper (>= 10~), perl, libmodule-build-perl
Standards-Version: 4.6.0

Package: acne
Architecture: all
Section: utils
Priority: optional
Depends: ${misc:Depends}, ${perl:Depends}, openssl, libio-socket-ssl-perl
Description: ACNE the ACME CA protocol client
 ACNE is a ACME client for automatic issuing of TLS certificates.

Package: acne-nginx
Architecture: all
Section: utils
Priority: optional
Description: ACNE integration for nginx
